main {
    padding: 15px;
}

#login {
    width: 350px;
    height: 350px;
    border: 1px solid;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

main form h2 {
    text-align: center;
}

form label {
    text-align: center;
}

form input {
    display: flex;
}